# Ignore environment folders
.venv/
.env/
.ENV/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDEs
.vscode/
.idea/

# Ignore static/media if needed
/staticfiles/
/media/
